body {
  margin: 0;
  padding: 0;
  font-family: Avenir;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

:root {
  --background_hue: 0;
  --background_saturation: 0%;
  --background_brightness: 0%;
  --text_hue: 0;
  --text_saturation: 0%;
  --text_brightness: 0%; 
}

.App {
  background-color: hsl(var(--background_hue), var(--background_saturation), var(--background_brightness));
  color: hsl(var(--text_hue), var(--text_saturation), var(--text_brightness));
  min-height: 100vh;
}

.control {
  flex-direction: row;
  margin: 20px;
}

.control.labels {
  flex-direction: column;
}

.color-input {
  width: 40vw;
  display: inline-block;
}

label, input {
  display: inline-block;
  width: 50%;
  margin-bottom: 10px;
}

label.property {
  text-align: left;
}

label.value {
  text-align: right;
}

input {
  width: 100%;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px 10px;
}

.color-input h4 {
  text-transform: capitalize;
}