body {
  margin: 0;
  padding: 0;
  font-family: Avenir;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.App {
  background-color: hsl(var(--background_hue), var(--background_saturation), var(--background_brightness));
  color: hsl(var(--text_hue), var(--text_saturation), var(--text_brightness));
  height: 70vh;
  padding: 15vh 0px;
}

.results {
  text-align: left;
  margin-left: 10vw;
  padding-left: 20px;
}

.result {
  font-size: 2em;
  font-weight: 600;
  margin-right: 10px;
}

.grade, .ratio {
  font-size: 1.5em;
  margin-right: 10px;
}

.control {
  flex-direction: row;
  margin: 20px;
}

.control.labels {
  flex-direction: column;
}

.color-input {
  width: 40vw;
  display: inline-block;
  margin-top: 40px;
}

label, input {
  display: inline-block;
  width: 50%;
  margin-bottom: 10px;
}

label.property {
  text-align: left;
}

label.value {
  text-align: right;
}

input {
  width: 100%;
}

h2, h3, h4 {
  margin: 0;
  padding: 5px 20px;
  text-align: left;
}

.color-input h4 {
  text-transform: capitalize;
}