:root {
  --left-margin: 20px;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: hsl(var(--background_hue), var(--background_saturation), var(--background_brightness));
  color: hsl(var(--text_hue), var(--text_saturation), var(--text_brightness));
  padding: 15vh 10vw;
  min-height: 100vh;
}

.results {
  text-align: left;
  margin: 0px var(--left-margin);
}

.result {
  font-size: 2em;
  font-weight: 600;
  margin-right: 10px;
}

.grade, .ratio {
  font-size: 1.5em;
  margin-right: 10px;
}

.control {
  flex-direction: row;
  margin: 5px;
  
}

.control.labels {
  flex-direction: column;
}

.color-inputs {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.color-input {
  flex: 1;

  margin: 10px var(--left-margin);
}

.thingy {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
}



label, input {
  display: inline-block;
  width: 50%;
  margin-bottom: 10px;
}

label.property {
  text-align: left;
}

label.value {
  text-align: right;
}

input {
  width: 100%;
}

h2, h3, h4, button, .selector-name {
  text-align: left;
}

.selector-name {
  text-transform: capitalize;
  margin-top: 5px;
  font-weight: 600;
}

button {
  text-transform: uppercase;
}

button {
  background: transparent;
  color: hsl(var(--text_hue), var(--text_saturation), var(--text_brightness));
  padding: 5px 10px;
  font-size: 1em;
  position: relative;
  left: 0;
  border-radius: 5px;
  border-color: transparent;
  background-color: hsla(var(--text_hue), var(--text_saturation), var(--text_brightness), 0.1);
  border-width: 1px;
}

button:hover {
  background-color: hsla(var(--text_hue), var(--text_saturation), var(--text_brightness), 0.2);
}

button:active {
  background-color: hsla(var(--text_hue), var(--text_saturation), var(--text_brightness), 0.3)
}

button:focus {
  border-color: hsl(var(--text_hue), var(--text_saturation), var(--text_brightness));
  border-width: 1px;
  outline: 0;
  border-style: solid;
}

.footer {
  background: hsla(var(--text_hue), var(--text_saturation), var(--text_brightness), 0.1);
  bottom: 0px;
  left: 0px;
  color: hsl(var(--text_hue), var(--text_saturation), var(--text_brightness));
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 10px;
  position: fixed;
  text-transform: uppercase;
  width: 100vw;
}

a {
  color: hsl(var(--text_hue), var(--text_saturation), var(--text_brightness));
}

@media (max-width: 600px) {
  .App {
    padding: 10vw;
  }
  .color-inputs {
    flex-direction: column;
  }
}

input[type=range]::-moz-range-track {
  background: hsl(var(--text_hue), var(--text_saturation), var(--text_brightness));
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: lightgrey;
  border-radius: 3px;
  box-shadow: rgba(100, 100, 100, 0.5) 1px 1px 1px;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -4px;
}